header {
    background: #1b1b1b;
    color: white;
    text-align: center;
    padding: 20px 0;
}


.titulo{
margin: 50PX;
font-size: 50px;
color: #1b1b1b;
padding: 10px;
    
}

.carrusela {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 700px; /* Ajusta según necesites */
    margin: 50px auto;
    height: 600px; /* Ajusta la altura según necesites */
}

.carrusel-fotosa {
    display: flex;
    animation: slider 20s infinite; /* Ajusta la duración */
}

.fotos {
    min-width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fotos img {
    max-width: 70%; /* Ajusta el porcentaje según lo necesites */
    height: auto; /* Mantiene la proporción */
    object-fit: cover; /* Ajusta la imagen sin distorsionar */
}



@keyframes slider {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); }
    15% { transform: translateX(-100%); }
    25% { transform: translateX(-100%); }
    30% { transform: translateX(-200%); }
    40% { transform: translateX(-200%); }
    45% { transform: translateX(-300%); }
    55% { transform: translateX(-300%); }
    60% { transform: translateX(-400%); }
    70% { transform: translateX(-400%); }
    75% { transform: translateX(-500%); }
    85% { transform: translateX(-500%); }
    90% { transform: translateX(-600%); }
    100% { transform: translateX(0); }
}


.contenedorr{
    width: 80%;
    margin: 0 auto;
    text-align: center;

}

.todasmarcass{
    margin-top: 20px;
    font-size: 24px;
    color: #1b1b1b;
}

.columnass{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-top: 20px;

}

.marcass{
    /* border-bottom: 2px solid black; /* Asegúrate de que sea el grosor y color que deseas */
    /* padding: 5px; Opcional, para dar un poco de espacio entre la imagen y el borde */ 
    /* background-color: #ccc; */
    margin: 10px;
    font-size: 14px;
    text-align: center;
    /* border-radius: 8px; */
    box-shadow: 2px 2px 5px rgb(red, green, blue);
}

.marcas img{
    border-bottom: 5px solid rgb(160, 160, 160); /* Asegúrate de que sea el grosor y color que deseas */
    /* padding: 5px; Opcional, para dar un poco de espacio entre la imagen y el borde */
}
.marcass img:hover{
    border-radius: 4px;
    background-color: #747474;
    border-bottom: 3px solid rgb(126, 126, 126);
    color: #e9e7e7;
}

.marcass img{
width: 100%;
}

